
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">

        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-folder fa-5x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <span> Danh mục sản phẩm </span>
                        <h2 class="font-bold">1</h2>
                        <a href="#" title="Category" style="color: Black"><span>  Truy cập ngay</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-folder fa-5x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <span> Danh mục sản phẩm </span>
                        <h2 class="font-bold">1</h2>
                        <a href="#" title="Category" style="color: Black"><span>  Truy cập ngay</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-folder fa-5x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <span> Danh mục sản phẩm </span>
                        <h2 class="font-bold">1</h2>
                        <a href="#" title="Category" style="color: Black"><span>  Truy cập ngay</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-folder fa-5x"></i>
                    </div>
                    <div class="col-9 text-right">
                        <span> Danh mục sản phẩm </span>
                        <h2 class="font-bold">1</h2>
                        <a href="#" title="Category" style="color: Black"><span>  Truy cập ngay</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>