<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Nhập để tìm kiếm" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">

                        </a>
                    </li>
                </ul>
            </li>



            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#" class="">
                            <div>
                                <i class="fa fa-user"></i> Hồ sơ
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <div>
                                <i class="fa fa-cog"></i> Cài đặt
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <div>
                                <i class="fa fa-sign-out"></i> Thoát
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
