<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                    <a href="#" style="text-align: center;">
                        <h1 class="block m-t-xs font-bold">ADMIN</h1>
                        <span class="text-muted text-xs block">FrontEnd Developer</span>
                    </a>

                </div>
                <div class="logo-element">
                    ADMIN
                </div>
            </li>

            <li class="active">
                <a href="#"><i class="fa fa-tachometer"></i> <span class="nav-label">Bảng điều khiển</span></a>

            </li>

            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">Sản phẩm</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="admin/category" class="">Danh mục sản phẩm</a> </li>
                    <li>
                        <a href="#">Loại sản phẩm</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">Bài viết</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Danh mục bài viết</a>
                    </li>
                    <li>
                        <a href="#">Loại bài viết</a>
                    </li>
                    <li>
                        <a href="#">Trang đơn</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span>Đơn hàng</span> </a>

            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span>Khách hàng</span> </a>

            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span>Liên hệ</span> </a>

            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">Giao diện</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Menu</a>
                    </li>
                    <li>
                        <a href="#">Slider</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">Hệ thống</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Thành viên</a>
                    </li>
                    <li>
                        <a href="#">Thêm thành viên</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
