@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanMayAnh.Models.modelPost>
@{
    ViewBag.Title = "Tất cả bài viết";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<section class="container">


    <ul class="b-crumbs">
        <li>
            <a href="/">
                Trang Chủ
            </a>
        </li>
        <li>
            <a href="~/tat-ca-tin-tuc">
                Tất cả tin tức
            </a>
        </li>

    </ul>
    <h1 class="main-ttl"><span>Tất cả bài viết</span></h1>
    <!-- Catalog Sidebar - start -->
    <div class="section-sb">
        @Html.Action("ListTopic", "Module")
        <!-- Filter - start -->
        <div class="section-filter">
            <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                <span>Công cụ</span> <i class="fa fa-angle-down"></i>
            </button>
           
        </div>
    </div>
    <!-- Filter - end -->
    <!-- Catalog Sidebar - end -->
    <!-- Catalog Items | Gallery V1 - start -->
    <div class="section-cont">

        <!-- Catalog Topbar - start -->
        <div class="section-top">
            <!-- Sorting -->
            <div class="section-sortby">
                <p>Sắp xếp</p>
                <ul>
                    <li>
                        <a href="#">Mới nhất</a>
                    </li>
                   
                    <li>
                        <a href="#">Từ A <i class="fa fa-angle-right"></i> Z</a>
                    </li>
                    <li>
                        <a href="#">Từ Z <i class="fa fa-angle-right"></i> A</a>
                    </li>

                </ul>
            </div>

            <!-- Count per page -->
            <div class="section-count">
                <p>12</p>
                <ul>
                    <li><a href="#">12</a></li>
                    <li><a href="#">24</a></li>
                    <li><a href="#">48</a></li>
                </ul>
            </div>

        </div>
        <!-- Catalog Topbar - end -->
        <div class="prod-items section-items">
            @foreach (var row in Model)
            {
                <div class="prod-i">
                    <div class="prod-i-top">
                        <a href="~/@row.Slug" class="prod-i-img" target="_blank"><!-- NO SPACE --><img src="~/Public/user/img/post/@row.Img" alt="Nulla numquam obcaecati"><!-- NO SPACE --></a>
                        
                        <a href="~/@row.Slug" class="prod-i-buy">Xem chi tiết</a>
                    </div>
                    <h3>
                        <a href="~/@row.Slug">@row.Title</a>
                    </h3>            
                </div>
            }
        </div>

        <!-- Pagination - start -->
        <ul class="pagi">
            @Html.PagedListPager(Model, page => Url.Action("Post", new { page }))
        </ul>
        <!-- Pagination - end -->
    </div>
    <!-- Catalog Items | Gallery V1 - end -->
</section>