<li>
    <div class="h-cart">
        <a href="~/gio-hang">
            <i class="fa fa-shopping-cart"></i>
            <span class="shop-menu-ttl">Giỏ hàng</span>
            (<b>@ViewBag.quantity</b>)
        </a>
    </div>
</li>
