<footer class="footer-wrap">
    <div class="container f-menu-list">
        <div class="row">
            
            @Html.Action("Left_Footer","Module")
            
            @Html.Action("Page_Footer", "Module")

            <div class="f-menu">
                <h3>
                    Thanh Toán
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Thanh toán trực tiếp</a></li>
                    <li><a href="#">Thanh toán qua ngân hàng</a></li>
                    <li><a href="#">Thanh toán trực tuyến</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Liên hệ trực tiếp
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Mua hàng: 0364 242 261</a></li>
                    <li><a href="#">Email: lelaii200398@gmail.com</a></li>
                    <li><a href="#">Sỉ: 0822 068 581</a></li>
                </ul>
            </div>
            <div class="f-subscribe">
                <h3>Fanpage của chúng tôi !</h3>
                <div class="footer-content">
                    <div class="fb-page" data-href="https://www.facebook.com/LGLCamera-633253537294664" 
                         data-tabs="timeline" data-width="" data-height="" data-small-header="false"
                          data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
                         ><blockquote cite="https://www.facebook.com/LGLCamera-633253537294664" 
                                      class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/LGLCamera-633253537294664">LGLCamera</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="copyright-text text-center">
                    <i>Copyright @DateTime.Now.Year Thiết kế bởi <a href="facebook.com/kendyboo123">Lê Gia Lai</a></i>
                </div>
            </div>
        </div>
    </div>

</footer>