@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-md-9">
            <h2>Danh mục sản phẩm</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Trang chủ</a>
                </li>

                <li class="breadcrumb-item active">
                    <strong>Danh mục sản phẩm</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-3">
            <br /><br />

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                <i class="fa fa-plus-square">Thêm mới</i>
            </button>
            <button type="button" class="btn btn-primary" id="btn-Trash">
                Thùng rác (<div id="countTrash" class="d-inline">@ViewBag.demrac</div>)
            </button>

        </div>
    </div>
    <div id="content"></div>
</div>

<div class="modal inmodal fade" id="ModalTrash" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Thùng rác</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper wrapper-content animated fadeInRight">

                        <div class="ibox ">
                            <div id="list-trash"></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>












<script>
    $().ready(getListByFilter);

    $("#btn-Trash").click(function () {
        $('#ModalTrash').modal("show");
        getListTrashByFilter()
    })

    function getListByFilter() {
        $.get("@Url.Action("GetListCategory", "Category")", (result, status) => $("#content").html(result));
    }
    function getListTrashByFilter() {
        $.get("@Url.Action("GetListTrashCategory", "Category")", (result, status) => $("#list-trash").html(result));
    }
</script>
